@define-color border-color #404040;
@define-color bg-base #B1B1B1;
@define-color bg-object #EAEAEA;
@define-color active-color #D08770;


* {
	border: none;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: @border-color;
}


window#waybar {
	background: @bg-base;
	border: 3px solid @border-color;
	min-height: 40px;
	padding: 10px;
	border-radius: 14;
	background-clip: padding-box;
}

#language, #group-pulseaudio, #group-backlight, #group-power, #allview, #clock, #workspaces button {
	margin: 9px 0px 9px 9px;
	border: 3px solid @border-color;
	border-radius: 10px;
	background-color: @bg-object;
}

#custom-power, #custom-quit, #custom-lock, #custom-reboot {
	margin-left: 9px;
	font-weight: 800;
	font-size: 19px;
}

#workspaces button.active {
	border-radius: 50px;
}

#network, #bluetooth {
	margin-left: 9px;
	/* min-width:  70px; */
	padding-right: 9px;
	border-right: 3px solid @border-color;
}

#pulseaudio, #backlight, #custom-backlight, #custom-power, .modules-right {
	margin-right: 9px;
}

#pulseaudio-slider slider, #backlight-slider slider {
	background: @border-color;
}

#pulseaudio-slider trough, #backlight-slider trough {
	min-width: 100px;
	margin-left: 9px;
	min-height: 10px;
	background: @background-color;
}

#pulseaudio-slider highlight, #backlight-slider highlight {
	background: @bg-base;
}

#pulseaudio, #backlight, #custom-backlight {
	margin-left: 9px;
}

#battery {
	padding-left: 9px;
	margin-right: 9px;
}

#language, #clock{
	padding-left: 9px;
	padding-right: 9px;
}
